---
- name: Create the Node Exporter group
  group:
    name: "node-exp"
    state: present
    system: yes

- name: Create the Node Exporter user
  user:
    name: "node-exp"
    groups: "node-exp"
    append: yes
    shell: /usr/sbin/nologin
    system: yes
    createhome: no

- name: Set go architecture
  set_fact:
    go_arch: "{{ ansible_architecture | replace('armv7l','armv7') | replace('aarch64','arm64') | replace('x86_64','amd64') }}"
  when: go_arch is undefined

- name: Download node exporter binary to local folder
  become: no
  unarchive:
    src: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}.tar.gz"
    dest: "/tmp"
    remote_src: yes
    creates: "/tmp/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}/node_exporter"
  delegate_to: localhost

- name: Propagate Node Exporter binaries
  copy:
    src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}/node_exporter"
    dest: "/opt/node_exporter"
    mode: 0755
    owner: "node-exp"
    group: "node-exp"
  notify:
    - restart node exporter

- name: Copy the Node Exporter systemd service file
  template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: root
    mode: 0644
  notify:
    - restart node exporter

- name: Install dependencies on RedHat OS family
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - libselinux-python
    - policycoreutils-python
  when:
    - ansible_os_family == "RedHat"
    - ansible_virtualization_type != "docker"

- name: Allow Node Exporter port in SELinux on RedHat OS family
  seport:
    ports: "{{ node_exporter_web_listen_address.split(':')[1] }}"
    proto: tcp
    setype: http_port_t
    state: present
  when:
    - ansible_os_family == "RedHat"
    - ansible_virtualization_type != "docker"

- name: Ensure Node Exporter is enabled on boot
  systemd:
    name: node_exporter
    enabled: yes
