---
- name: Naive assertion of proper listen address
  assert:
    that:
      - "':' in node_exporter_web_listen_address"

- name: Fail on unsupported init systems
  fail:
    msg: "This module only works with systemd"
  when: ansible_service_mgr != 'systemd'

- name: Check collectors
  fail:
    msg: "Collector cannot be both disabled and enabled"
  when: item in node_exporter_enabled_collectors
  with_items: "{{ node_exporter_disabled_collectors }}"

- name: Get checksum list from github
  set_fact:
    _checksums: "{{ lookup('url', 'https://github.com/prometheus/node_exporter/releases/download/v' + node_exporter_version + '/sha256sums.txt', wantlist=True) | list }}"
  run_once: true

- name: "Get checksum for {{ cpu_architecture }} architecture"
  set_fact:
    node_exporter_checksum: "{{ item.split(' ')[0] }}"
  with_items: "{{ _checksums }}"
  when: "('linux-' + cpu_architecture + '.tar.gz') in item"
