#!/usr/bin/env python

import json
import re
import subprocess
import sys

content = dict()

version_re = re.compile('node_exporter,\s+version\s+(?P<version>(?P<major>[0-9]+)(\.[0-9]+)+)')
stdout = None
try:
    result = subprocess.Popen(['/usr/bin/env', '{{ node_exporter__service_executable }}', '--version'],
                              stdout=subprocess.PIPE,
                              stderr=subprocess.PIPE,
                              universal_newlines=True)
    (stdout, stderr) = result.communicate()
except subprocess.CalledProcessError as e:
    content['error'] = str(e)

if stdout is not None:
    match = version_re.search(stderr + stdout)
    if match:
        content['version_full'] = match.group('version')
        content['version_major'] = match.group('major')

if len(content) == 0:
    content = None

print(json.dumps(content))
sys.exit(0)
