[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_service_username }}
Group={{ node_exporter_service_group }}
ExecStart=/opt/node_exporter/node_exporter -collectors.enabled {{ node_exporter_enabled_collectors | join(',') }} {% for flag, flag_value in node_exporter_config_flags.iteritems() %}-{{ flag }}={{ flag_value }} {% endfor %}

SyslogIdentifier=node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
