[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User=node-exp
Group=node-exp
Nice=-5
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address {{ node_exporter_web_listen_address }} \
    {% for c in node_exporter_enabled_collectors -%}
    {%   if not c is mapping -%}
    --collector.{{ c }} \
    {%   else -%}
    {%     set name,opt = c.items()[0] -%}
    {%     for k,v in opt.items() -%}
    --collector.{{ name }}.{{ k }}={{ v }} \
    {%     endfor -%}
    {%   endif -%}
    {% endfor -%}
    {% for c in node_exporter_disabled_collectors -%}
    --no-collector.{{ c }} \
    {% endfor -%}

SyslogIdentifier=node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
